.tutorial-section {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    min-height: 100vh;
    max-width: 100vw;

    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 7rem 0;
}

.tutorial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.sub-tutorial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.sub-tutorial-container iframe {
    border-radius: 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    min-height: 40vh;
    max-width: 100vw;

    background-color: #161f36;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    gap: 3rem;

    padding-bottom: var(--padding-l);
    margin: var(--margin-xl) 0;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 0.5rem;
}

.footer-logo-container img {
    width: 165px;
    height: 40px;
    border-radius: 0.5rem;
}

.footer-links-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: row;
    gap: 2rem;
}

.links-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    gap: 0.25rem;

    padding: 0 var(--padding-m);

    border-left: 1.5px solid #0e1423;
}

.links-column h3 {
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    color: var(--primary);
}

.links-column a {
    font-family: var(--font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    color: var(--primary);
    opacity: 0.5;
    transition: var(--transition);
}

.links-column a:hover {
    scale: 1.01;
}

footer h3 {
    text-align: center;
    font-family: var(--font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    color: var(--primary);
}


@media(max-width: 850px) {
    .footer-container {
        flex-direction: column;
    }
    .footer-links-container {
        flex-direction: column;
    }
    .links-column {
        border: none;
    }
    footer h3 {
        padding-bottom: var(--padding-xs);
    }
}


@media(max-width: 650px) {
    #sidebar-active:checked ~ #overlay {
        height: 201vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        cursor: pointer;
    }
}