@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Margin */
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    /* Paddidng */
    --padding-xxs: .25rem;
    --padding-xs: .5rem;
    --padding-s: .75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;

    /* Color */
    --primary: #fff;
    --secondary: #000;
    --tertiary: #111A28;

    /* Font */
    --font: "Trispace", sans-serif;

    /* Font Size */
    --font-size-xxs: .25rem;
    --font-size-xs: .5rem;
    --font-size-s: .75rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.75rem;
    --font-size-xxl: 2.5rem;

    /* Font Wieght */
    --font-weight-xxs: 100;
    --font-weight-xs: 200;
    --font-weight-s: 300;
    --font-weight-m: 400;
    --font-weight-l: 500;
    --font-weight-xl: 600;
    --font-weight-xxl: 700;

    /* Line Hight */
    --line-hight-xxs: 0.65rem;
    --line-hight-xs: 1.1rem;
    --line-hight-s: 1.35rem;
    --line-hight-m: 2.4rem;
    --line-hight-l: 2.5rem;
    --line-hight-xl: 2.8rem;
    --line-hight-xxl: 3rem;

    /* Transition */
    --transition: 500ms ease-out;
}



nav {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
nav img {
    width: 165px;
    height: 40px;
}
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary);
    font-family: var(--font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
    transition: var(--transition);
}
nav a:hover {
    scale: 1.1;
}
nav .logo {
    margin-right: auto;
}
nav svg {
    fill: var(--primary);
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none;
    cursor: pointer;
}
@media(max-width: 650px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: #5773b97e;
        backdrop-filter: blur(10px);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

        transition: var(--transition);
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }
    .open-sidebar-button {
        margin-left: auto;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        cursor: pointer;
    }
}